img{ 
    max-width:100%; 
    height:auto; 
}

a{
    text-decoration: none;
}

html{
    font-size: 100%;
}




.logo{
    width: 100%;
}

.mainview{
    position: relative;
}

.mainVisual{
    width: 100%;
}

.text01{
    position: absolute;
    top: 41.5%;
    left: 7%;
    width: 86%;
    color: white;
    /* font-size: 1.8vmax; */
    font-size: 0.8rem;
    line-height: 1.7;
    text-align: justify;
    text-justify: inter-ideograph;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
}

.title{
    position: absolute;
    top: 59%;
    left: 7%;
    font-size: 3vmax;
    font-weight: bold;
}

.text02{
    position: absolute;
    top: 84%;
    left: 7%;
    width: 86%;
    /* font-size: 1.8vmax; */
    font-size: 0.8rem;
    line-height: 1.7;
    text-align: justify;
    text-justify: inter-ideograph;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;  
}



.experiment01{
    position: relative;
    margin-top: 30px;
}

.step01{
    width: 100%;
}

.text03{
    position: absolute;
    top: 57%;
    left: 7%;
    width: 55%;
    /* font-size: 1.6vmax; */
    font-size: 0.7rem;
    line-height: 1.7;
    text-align: justify;
    text-justify: inter-ideograph;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;  
}



.experiment02{
    position: relative;
    margin-top: 10px;
}

.step02{
    width: 100%;
}

.text04{
    position: absolute;
    top: 47%;
    left: 52%;
    width: 40%;
    /* font-size: 1.6vmax; */
    font-size: 0.7rem;
    line-height: 1.7;
    text-align: justify;
    text-justify: inter-ideograph;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;  
}



.earthPoint01{
    position: relative;
    margin-top: 50px;
}

.point01{
    width: 100%;
}

.text05{
    position: absolute;
    top: 63%;
    left: 7%;
    width: 86%;
    /* font-size: 1.6vmax; */
    font-size: 0.7rem;
    line-height: 1.7;
    text-align: justify;
    text-justify: inter-ideograph;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;  
}



.experiment03{
    position: relative;
    margin-top: 10px;
}

.step03{
    width: 100%;
}

.text06{
    position: absolute;
    top: 44%;
    left: 7%;
    width: 43%;
    /* font-size: 1.6vmax; */
    font-size: 0.7rem;
    line-height: 1.7;
    text-align: justify;
    text-justify: inter-ideograph;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;  
}



.experiment04{
    position: relative;
    margin-top: 10px;
}

.step04{
    width: 100%;
}

.text07{
    position: absolute;
    top: 53%;
    left: 48%;
    width: 45%;
    /* font-size: 1.6vmax; */
    font-size: 0.7rem;
    line-height: 1.7;
    text-align: justify;
    text-justify: inter-ideograph;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;  
}



.earthPoint02{
    position: relative;
    margin-top: 60px;
}

.point02{
    width: 100%;
}

.text08{
    position: absolute;
    top: 70%;
    left: 7%;
    width: 86%;
    /* font-size: 1.6vmax; */
    font-size: 0.7rem;
    line-height: 1.7;
    text-align: justify;
    text-justify: inter-ideograph;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;  
}



.aboutApplication{
    position: relative;
    margin-top: 40px;
}

.application{
    width: 100%;
}

.text09{
    position: absolute;
    top: 38%;
    left: 30%;
    width: 60%;
    font-size: 1.4vmax;
    line-height: 1.7;
    text-align: justify;
    text-justify: inter-ideograph;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;  
}

.AppStore01{
    position: absolute;
    top: 68%;
    left: 10%;
    width: 38%;
}

.GooglePlay01{
    position: absolute;
    top: 68%;
    left: 52%;
    width: 38%;
}



.studenIinterview{
    position: relative;
    margin-top: 40px;
}

.interview{
    width: 100%;
}

.text010{
    position: absolute;
    top: 30%;
    left: 7%;
    width: 86%;
    /* font-size: 1.7vmax; */
    font-size: 0.8rem;
    line-height: 1.7;
    text-align: justify;
    text-justify: inter-ideograph;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;  
}

.text011{
    position: absolute;
    top: 68%;
    left: 7%;
    width: 86%;
    /* font-size: 1.7vmax; */
    font-size: 0.8rem;
    line-height: 1.7;
    text-align: justify;
    text-justify: inter-ideograph;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;  
}



.stProfile{
    position: relative;
}

.studentProfile{
    width: 100%;
}

.insta_button{
    position: absolute;
    top: 80%;
    left: 25%;
    width: 53%;
}



.slProfile{
    position: relative;
    margin-top: 30px;
}

.salonPlofile{
    width: 100%;
}

.home{
    position: absolute;
    top: 25%;
    left: 37%;
    width:10%;
}

.instagram{
    position: absolute;
    top: 25%;
    left: 55%;
    width: 10%;
}

.text12{
    position: absolute;
    top: 53%;
    left: 7%;
    width: 86%;
    /* font-size: 1.7vmax; */
    font-size: 0.8rem;
    line-height: 1.7;
    text-align: justify;
    text-justify: inter-ideograph;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;  
}

.AppStore02{
    position: absolute;
    top: 78.6%;
    left: 10%;
    width: 38%;
}

.GooglePlay02{
    position: absolute;
    top: 78.6%;
    left: 52%;
    width: 38%;
}

.back{
    position: absolute;
    top: 90%;
    left: 40%;
    width: 20%;
}





/*ヘッダーまわりはサイトに合わせて調整してください*/
header {
    padding:5px;
    background: white;
    overflow: hidden;
  }
  
  #nav-drawer {
    position: relative;
    padding-left: 5px;
    width: 10%;
    float: left;
    margin-top: 5px;
  }

  .logo {
    margin-left: 23%;
    width: 35%;
    float: left;
  }
  
  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display:none;
  }
  
  /*アイコンのスペース*/
  #nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
  }
  
  /*ハンバーガーアイコンをCSSだけで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: #555;
    display: block;
    content: '';
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }
  
  /*閉じる用の薄黒カバー*/
  #nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }
  
  /*中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;/*最前面に*/
    width: 50%;/*右側に隙間を作る（閉じるカバーを表示）*/
    max-width: 330px;/*最大幅（調整してください）*/
    height: 100%;
    background: white;/*背景色*/
    transition: .3s ease-in-out;/*滑らかに表示*/
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);/*左に隠しておく*/
  }
  
  /*チェックが入ったらもろもろ表示*/
  #nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;
  }
  
  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示（右へスライド）*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }















/* 
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: pink;
    transition: width .2s;
  }
  
  .menu--isOpen {
    width: 40vw;
  }
  
  .menu__button {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    background-color: rgba(200, 200, 230, .7);
    border-radius: 5px;
    border: none;
  }
  
  .menu span {
    display: block;
    width: 80%;
    margin: auto;
    height: 4px;
    background-color: #000;
    position: absolute;
    left: 0;
    right: 0;
    top: calc((100% - 4px)/2);
    border-radius: 3px;
    transition: .2s;
  }
  
  .menu__lineTop {
    transform: translateY(-10px);
  }
  
  .menu__lineMiddle {}
  
  .menu__lineBottom {
    transform: translateY(10px);
  }
  
  .menu--isOpen .menu__lineTop {
    transform: rotate(45deg);  
  }
  
  .menu--isOpen .menu__lineMiddle {
    opacity: 0;
  }
  
  .menu--isOpen .menu__lineBottom {
    transform: rotate(-45deg);  
  } */




  .hamburger {
    font-family: 'Noto Serif JP', sans-serif;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 20%;
  }
